<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JavaWeb-0703-oa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetRoleList</display-name>
    <servlet-name>GetRoleList</servlet-name>
    <servlet-class>com.neo.servlet.role.GetRoleList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRoleList</servlet-name>
    <url-pattern>/GetRoleList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRoleServlet</display-name>
    <servlet-name>AddRoleServlet</servlet-name>
    <servlet-class>com.neo.servlet.role.AddRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoleServlet</servlet-name>
    <url-pattern>/AddRoleServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncoding</display-name>
    <filter-name>CharacterEncoding</filter-name>
    <filter-class>com.neo.filter.CharacterEncoding</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRoleServlet</display-name>
    <servlet-name>DeleteRoleServlet</servlet-name>
    <servlet-class>com.neo.servlet.role.DeleteRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoleServlet</servlet-name>
    <url-pattern>/DeleteRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToUpdateRoleServlet</display-name>
    <servlet-name>ToUpdateRoleServlet</servlet-name>
    <servlet-class>com.neo.servlet.role.ToUpdateRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUpdateRoleServlet</servlet-name>
    <url-pattern>/ToUpdateRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRoleServlet</display-name>
    <servlet-name>UpdateRoleServlet</servlet-name>
    <servlet-class>com.neo.servlet.role.UpdateRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRoleServlet</servlet-name>
    <url-pattern>/UpdateRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDeptList</display-name>
    <servlet-name>GetDeptList</servlet-name>
    <servlet-class>com.neo.servlet.dept.GetDeptListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDeptList</servlet-name>
    <url-pattern>/GetDeptListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToAddDeptServlet</display-name>
    <servlet-name>ToAddDeptServlet</servlet-name>
    <servlet-class>com.neo.servlet.dept.ToAddDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToAddDeptServlet</servlet-name>
    <url-pattern>/ToAddDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDeptServlet</display-name>
    <servlet-name>AddDeptServlet</servlet-name>
    <servlet-class>com.neo.servlet.dept.AddDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeptServlet</servlet-name>
    <url-pattern>/AddDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDeptServlet</display-name>
    <servlet-name>DeleteDeptServlet</servlet-name>
    <servlet-class>com.neo.servlet.dept.DeleteDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDeptServlet</servlet-name>
    <url-pattern>/DeleteDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToUpdateDeptServlet</display-name>
    <servlet-name>ToUpdateDeptServlet</servlet-name>
    <servlet-class>com.neo.servlet.dept.ToUpdateDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUpdateDeptServlet</servlet-name>
    <url-pattern>/ToUpdateDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDeptServlet</display-name>
    <servlet-name>UpdateDeptServlet</servlet-name>
    <servlet-class>com.neo.servlet.dept.UpdateDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDeptServlet</servlet-name>
    <url-pattern>/UpdateDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmpListServlet</display-name>
    <servlet-name>GetEmpListServlet</servlet-name>
    <servlet-class>com.neo.servlet.emp.GetEmpListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmpListServlet</servlet-name>
    <url-pattern>/GetEmpListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmpServlet</display-name>
    <servlet-name>AddEmpServlet</servlet-name>
    <servlet-class>com.neo.servlet.emp.AddEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmpServlet</servlet-name>
    <url-pattern>/AddEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RolePageJsonServlet</display-name>
    <servlet-name>RolePageJsonServlet</servlet-name>
    <servlet-class>com.neo.servlet.role.RolePageJsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolePageJsonServlet</servlet-name>
    <url-pattern>/RolePageJsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptPageJsonServlet</display-name>
    <servlet-name>DeptPageJsonServlet</servlet-name>
    <servlet-class>com.neo.servlet.dept.DeptPageJsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptPageJsonServlet</servlet-name>
    <url-pattern>/DeptPageJsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToAddEmpServlet</display-name>
    <servlet-name>ToAddEmpServlet</servlet-name>
    <servlet-class>com.neo.servlet.emp.ToAddEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToAddEmpServlet</servlet-name>
    <url-pattern>/ToAddEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSubjectListServlet</display-name>
    <servlet-name>GetSubjectListServlet</servlet-name>
    <servlet-class>com.neo.servlet.subject.GetSubjectListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubjectListServlet</servlet-name>
    <url-pattern>/GetSubjectListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectPageJsonServlet</display-name>
    <servlet-name>SubjectPageJsonServlet</servlet-name>
    <servlet-class>com.neo.servlet.subject.SubjectPageJsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectPageJsonServlet</servlet-name>
    <url-pattern>/SubjectPageJsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSubjectServlet</display-name>
    <servlet-name>DeleteSubjectServlet</servlet-name>
    <servlet-class>com.neo.servlet.subject.DeleteSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubjectServlet</servlet-name>
    <url-pattern>/DeleteSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubjectServlet</display-name>
    <servlet-name>AddSubjectServlet</servlet-name>
    <servlet-class>com.neo.servlet.subject.AddSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectServlet</servlet-name>
    <url-pattern>/AddSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToAddSubjectServlet</display-name>
    <servlet-name>ToAddSubjectServlet</servlet-name>
    <servlet-class>com.neo.servlet.subject.ToAddSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToAddSubjectServlet</servlet-name>
    <url-pattern>/ToAddSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToUpdateDSubjectServlet</display-name>
    <servlet-name>ToUpdateDSubjectServlet</servlet-name>
    <servlet-class>com.neo.servlet.subject.ToUpdateDSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUpdateDSubjectServlet</servlet-name>
    <url-pattern>/ToUpdateDSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSubjectServlet</display-name>
    <servlet-name>UpdateSubjectServlet</servlet-name>
    <servlet-class>com.neo.servlet.subject.UpdateSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSubjectServlet</servlet-name>
    <url-pattern>/UpdateSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addClassServlet</display-name>
    <servlet-name>addClassServlet</servlet-name>
    <servlet-class>com.neo.servlet.clase.addClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addClassServlet</servlet-name>
    <url-pattern>/addClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToAddClassServlet</display-name>
    <servlet-name>ToAddClassServlet</servlet-name>
    <servlet-class>com.neo.servlet.clase.ToAddClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToAddClassServlet</servlet-name>
    <url-pattern>/ToAddClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClasePageJsonServlet</display-name>
    <servlet-name>ClasePageJsonServlet</servlet-name>
    <servlet-class>com.neo.servlet.clase.ClasePageJsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClasePageJsonServlet</servlet-name>
    <url-pattern>/ClasePageJsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpPageJsonServlet</display-name>
    <servlet-name>EmpPageJsonServlet</servlet-name>
    <servlet-class>com.neo.servlet.emp.EmpPageJsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpPageJsonServlet</servlet-name>
    <url-pattern>/EmpPageJsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetClaseListServlet</display-name>
    <servlet-name>GetClaseListServlet</servlet-name>
    <servlet-class>com.neo.servlet.clase.GetClaseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClaseListServlet</servlet-name>
    <url-pattern>/GetClaseListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClassServlet</display-name>
    <servlet-name>DeleteClassServlet</servlet-name>
    <servlet-class>com.neo.servlet.clase.DeleteClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClassServlet</servlet-name>
    <url-pattern>/DeleteClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToUpdateClassServlet</display-name>
    <servlet-name>ToUpdateClassServlet</servlet-name>
    <servlet-class>com.neo.servlet.clase.ToUpdateClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUpdateClassServlet</servlet-name>
    <url-pattern>/ToUpdateClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateClassServlet</display-name>
    <servlet-name>UpdateClassServlet</servlet-name>
    <servlet-class>com.neo.servlet.clase.UpdateClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClassServlet</servlet-name>
    <url-pattern>/UpdateClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToUpdateEmpServlet</display-name>
    <servlet-name>ToUpdateEmpServlet</servlet-name>
    <servlet-class>com.neo.servlet.emp.ToUpdateEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUpdateEmpServlet</servlet-name>
    <url-pattern>/ToUpdateEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>com.neo.entity.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStudentListServlet</display-name>
    <servlet-name>GetStudentListServlet</servlet-name>
    <servlet-class>com.neo.servlet.student.GetStudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentListServlet</servlet-name>
    <url-pattern>/GetStudentListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToAddStudentServlet</display-name>
    <servlet-name>ToAddStudentServlet</servlet-name>
    <servlet-class>com.neo.servlet.student.ToAddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToAddStudentServlet</servlet-name>
    <url-pattern>/ToAddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentPageJsonServlet</display-name>
    <servlet-name>StudentPageJsonServlet</servlet-name>
    <servlet-class>com.neo.servlet.student.StudentPageJsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentPageJsonServlet</servlet-name>
    <url-pattern>/StudentPageJsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentServlet</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>com.neo.servlet.student.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToUpdateStudentServlet</display-name>
    <servlet-name>ToUpdateStudentServlet</servlet-name>
    <servlet-class>com.neo.servlet.student.ToUpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUpdateStudentServlet</servlet-name>
    <url-pattern>/ToUpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>com.neo.servlet.student.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addStudentServlet</display-name>
    <servlet-name>addStudentServlet</servlet-name>
    <servlet-class>com.neo.servlet.student.addStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudentServlet</servlet-name>
    <url-pattern>/addStudentServlet</url-pattern>
  </servlet-mapping>
</web-app>